p {
  width: 45%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  padding: 8px;
}

p span {
  font-size: 18px;
  font-weight: bold;
  color: #00F;
}

#spring {
  background-color: pink;
  color: rgb(3, 3, 3);
}

#summer {
  background-color: orange;
  color: rgb(3, 3, 3);
}

#autumn {
  background-color: yellow;
  color: rgb(3, 3, 3);
}

#winter {
  background-color: lightgray;
  color: rgb(3, 3, 3);  
}
