
body {
    background-color: rgb(205, 255, 255);
    font-size: 40px;
}

form {
    width: 95%;
    margin: 0 auto;
}
/* Header */
h1 {
    color: red;
    margin: 1.5% 0;
    font-size: 1.5em;
}

hr {
    border: solid black;
}

ol {
    list-style-position: inside;
}

li {
    list-style-type: none;
    counter-increment: step-counter;
    font-weight: bold;
    margin: 2% 0;
}

    li::before {
        content: counter(step-counter) ")";
    }

td > label {
    font-size: medium;
}

#keywords {
    width: 50vw;
    height: auto;
}

#startdate, #enddate {
    width: 15vw;
    height: auto;
    font-size: .5em;
}

#search {
    background-image: url(images/Search.gif);
}

#help {
    background-image: url(images/Help.gif);
}

#cancel {
    background-image: url(images/Cancel.gif);
}

button {
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
}